<nav class="navbar is-fixed-top is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/views/index.twig">
      vite-twig-ssr
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarMain"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMain" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/views/index.twig">Home</a>
      <a class="navbar-item" href="/views/about.twig">About</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="https://github.com/trevorpao/vite-twig-ssr" target="_blank" rel="noreferrer">GitHub</a>
        </div>
      </div>
    </div>
  </div>
</nav>
